
.NisitKU{
    font-family: Istokweb-bold;
    font-size: 32px;

}
.act-trans-title{
    font-family: Istokweb-bold;
    font-size: 32px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    font-family: THB;
    font-size : 28px;
}
.subheader{
    font-family: THB;
    font-size: 28px;
}
.context {
    font-family: THR;    
    font-size : 24px;
    margin-left: 15px;
}
.context_indent{
    font-family: THR;    
    font-size : 24px;
    margin-left: 30px;  
}
.bullet{
    font-family: THR;    
    font-size : 24px;
    margin-left: 0px;
}
.context-center{
    font-family: THR;    
    font-size : 24px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img{    
    width: 36px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor on hover to indicate it's clickable */
  }
  /* In your CSS file */
.navbar-dark .navbar-toggler-icon {
    background-color: white; /* Set your desired background color */
  }