@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Prompt', sans-serif;
}


.background {
  background-color: rgb(131, 162, 143);
}


.img-container {
  display: flex;
  justify-content: center;
}

.img-mockup {
  margin: 10px;
  max-width: 50px;
  border: 1px solid black;
  margin: 3;
}

.card-user {
  background-color: aqua;
}
